@font-face {
  font-family: "iconfont"; /* Project id 4006040 */
  src: url('iconfont.woff2?t=1681114213376') format('woff2'),
       url('iconfont.woff?t=1681114213376') format('woff'),
       url('iconfont.ttf?t=1681114213376') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dengluyonghuming:before {
  content: "\e611";
}

.icon-lock:before {
  content: "\e6c1";
}

.icon-shanchu:before {
  content: "\e630";
}

.icon-xiaoxi:before {
  content: "\e632";
}

.icon-wode:before {
  content: "\e634";
}

.icon-shijian:before {
  content: "\e636";
}

.icon-bangzhuzhongxin:before {
  content: "\e63b";
}

.icon-fuzhi:before {
  content: "\e63f";
}

.icon-liaotian:before {
  content: "\e640";
}

.icon-shijian1:before {
  content: "\e641";
}

.icon-queding:before {
  content: "\e642";
}

.icon-shipin:before {
  content: "\e643";
}

.icon-xianshi:before {
  content: "\e644";
}

.icon-zhiding:before {
  content: "\e645";
}

.icon-wangzhan:before {
  content: "\e646";
}

.icon-youxiang:before {
  content: "\e647";
}

.icon-gantanhao:before {
  content: "\e64b";
}

.icon-yincang:before {
  content: "\e64e";
}

.icon-shibai:before {
  content: "\e64f";
}

