{{template "default" .}}

{{define "css"}}
<link rel="stylesheet" href="/static/styles/index.css">
{{end}}

{{define "main"}}
<main class="main">
    <div class="shorturl">
        <h3 class="form-title">Paste the URL to be shortened</h3>
        <form action="#">
            <div class="form-item flex">
                <input type="text" name="" long_url>
            </div>
            <div class="form-item flex">
                <input type="text" readonly value="aaa" name="short_url">
                <button class="copy">Copy</button>
            </div>
            <div class="form-item">
                <button class="make">Make URL</button>
            </div>
        </form>
    </div>
</main>
{{end}}