{{template "default" .}}

{{define "css"}}

<link rel="stylesheet" href="../static/styles/reset.css">

{{end}}

{{define "main"}}

<main class="main">
    <div class="rest-container">
        <div class="forms">
            <div class="form login">
                <span class="title">Forgot Password</span>
                <!-- 重置密码表单 -->
                <form action="#">
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Create a password" required>
                        <i class="iconfont icon-lock icon"></i>
                    </div>

                    <div class="input-field">
                        <input type="password" class="password" placeholder="Confirm a password" required>
                        <i class="iconfont icon-lock icon"></i>
                        <i class="iconfont icon-yincang showHidePw"></i>
                    </div>

                    <div class="input-field button">
                        <input type="button" value="Reset Password">
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

{{end}}

{{define "js"}}

<script>
    const pwShowHide = document.querySelectorAll(".showHidePw"),
        pwFields = document.querySelectorAll(".password");

    // 显示隐藏密码
    pwShowHide.forEach(eyeIcon => {
        eyeIcon.addEventListener("click", () => {
            pwFields.forEach(pwField => {
                if (pwField.type === "password") {
                    pwField.type = "text";

                    pwShowHide.forEach(icon => {
                        icon.classList.replace("icon-yincang", "icon-xianshi");
                    })
                } else {
                    pwField.type = "password";
                    pwShowHide.forEach(icon => {
                        icon.classList.replace("icon-xianshi", "icon-yincang");
                    })
                }
            })
        })
    })
</script>

{{end}}