{{template "default" .}}

{{define "css"}}

<link rel="stylesheet" href="../static/styles/sign.css">

{{end}}


{{define "main" }}

<main class="main">
    <div class="sign-container" >
        <div class="forms">
            <div class="form login">
                <span class="title">Login</span>

                <!-- 登录 Form -->
                <form action="/login" method="post">
                    <div class="input-field  {{with .Form.Errors.Get "email"}}error{{end}}">
                        <input type="text" placeholder="Enter your email" name="email" 
                        value='{{with .Form.Get "email"}}{{.}}{{end}}' required>
                        <i class="icon iconfont icon-youxiang"></i>
                    </div>
                    {{with .Form.Errors.Get "email"}}
                        <p class="error-msg">{{.}}</p>
                    {{end}}

                    <div class="input-field">
                        <input type="password" class="password" placeholder="Enter your password" required>
                        <i class="icon iconfont icon-lock"></i>
                        <i class="iconfont icon-yincang showHidePw"></i>
                    </div>
                    {{with .Form.Errors.Get "password"}}
                        <p class="error-msg">{{.}}</p>
                    {{end}}

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="logCheck">
                            <label for="logCheck" class="text">Remember me</label>
                        </div>
                        <a href="/forgot" class="text">Forgot password?</a>
                    </div>

                    <div class="input-field button">
                        <input type="button" value="Login Now">
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">Not a account?
                        <a href="#" class="text signup-link">Register now</a>
                    </span>
                </div>
            </div>

            <!-- 注册 Form -->
            <div class="form signup">
                <span class="title">Register</span>

                <form action="/register" method="post">
                    <div class="input-field {{with .Form.Errors.Get "name"}}error{{end}}">
                        <input type="text" name="name" placeholder="Enter your name" 
                        value='{{with .Form.Get "name"}}{{.}}{{end}}' required>
                        <i class="iconfont icon-wode" style="font-size: 19px;"></i>
                    </div>
                    {{with .Form.Errors.Get "name"}}
                        <p class="error-msg">{{.}}</p>
                    {{end}}

                    <div class="input-field {{with .Form.Errors.Get "email"}}error{{end}}">
                        <input type="text" name="email" placeholder="Enter your email"
                        value='{{with .Form.Get "email"}}{{.}}{{end}}' required>
                        <i class="iconfont icon-youxiang icon"></i>
                    </div>
                    {{with .Form.Errors.Get "email"}}
                        <p class="error-msg">{{.}}</p>
                    {{end}}

                    <div class="input-field {{with .Form.Errors.Get "password"}}error{{end}}">
                        <input type="password" name="password" class="password" placeholder="Create a password" required>
                        <i class="iconfont icon-lock icon"></i>
                    </div>
                    {{with .Form.Errors.Get "password"}}
                        <p class="error-msg">{{.}}</p>
                    {{end}}

                    <div class="input-field {{with .Form.Errors.Get "repassword"}}error{{end}}">
                        <input type="password"  name="repassword" class="password" placeholder="Confirm a password" required>
                        <i class="iconfont icon-lock icon"></i>
                        <i class="iconfont icon-yincang showHidePw"></i>
                    </div>
                    {{with .Form.Errors.Get "repassword"}}
                        <p class="error-msg">{{.}}</p>
                    {{end}}

                    <div class="input-field button">
                        <input type="submit" value="Register Now">
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">Already a acount?
                        <a href="#" class="text login-link">Login now</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</main>

{{end}}


{{define "js"}}

<script>

    {{with .Error}}
        console.log("{{.}}")
    {{end}} 

    const container = document.querySelector(".sign-container"),
        pwShowHide = document.querySelectorAll(".showHidePw"),
        pwFields = document.querySelectorAll(".password"),
        signUp = document.querySelector(".signup-link"),
        login = document.querySelector(".login-link");

    // 显示隐藏密码
    pwShowHide.forEach(eyeIcon => {
        eyeIcon.addEventListener("click", () => {
            pwFields.forEach(pwField => {
                if (pwField.type === "password") {
                    pwField.type = "text";

                    pwShowHide.forEach(icon => {
                        icon.classList.replace("icon-yincang", "icon-xianshi");
                    })
                } else {
                    pwField.type = "password";
                    pwShowHide.forEach(icon => {
                        icon.classList.replace("icon-xianshi", "icon-yincang");
                    })
                }
            })
        })
    })

    // 注册表单和登录表单切换
    signUp.addEventListener("click", () => {
        container.classList.add("active");
    });

    login.addEventListener("click", () => {
        container.classList.remove("active");
    });

    if (location.search.includes("t=1")) {
        container.classList.add("active");
    }

</script>

{{end}}