/* Main */

.shorturl{
    width: 600px;
    min-height: 350px;
    margin: 130px auto;
    border-radius: 12px;
    background-color: #fff;
}

.shorturl .form-title {
    text-align: center;
}

.shorturl {
    padding: 25px 45px;
}

.shorturl .form-item {
    margin-top: 35px;
}

.shorturl .form-item input{
    width: 78%;
    height: 50px;
    padding: 10px 16px;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    font-size: 1rem;
    color: #333;
    border-right: 1px solid #bbb;
}

.shorturl .form-item:nth-child(2) input{
    width: 100%;
}

.shorturl .form-item:nth-child(3) input{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.shorturl .form-item:nth-child(1) input:focus{
    border: 2px solid #3da0da !important;
}

.shorturl .form-item button {
    height: 50px;
    padding: 10px 16px;
    background-color: #3da0da;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
    -webkit-appearance: button;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

.shorturl .form-item button:hover{
    opacity: .8;
    letter-spacing: 1px;
}

.shorturl .form-item button.copy{
    flex: 1;
}

.shorturl .form-item button.make{
    width: 100%;
    border-radius: 3px;
}

.shorturl .copy{
    font-size: 18px;
}